@import "@styles/mixins";
@import "@styles/variables";

.containerCards {
  width: $width-main-container;
  @include flex-space-between;
  .skeletonCard {
    width: 387px;
    height: 514px;
  }
  .card {
    position: relative;
    width: 387px;
    height: 514px;
    .backgroundImage {
      width: 100%;
      height: 444px;
    }
  }
  .info {
    width: 334px;
    height: 132px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    @include flex-space-between;
    padding: 32px 24px;

    .text {
      width: calc(100% - 59px);
      text-align: start;
    }
  }
  @media (max-width: 1280px) {
   @include flex-center-column;
    .card {
      height: auto;
      .backgroundImage {
        height: 100%;
      }
      .info {
        position: relative;
        width: 100%;
        padding: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      width: 337px;
    }
  }
}
