@import "@styles/variables";
@import "@styles/mixins";

.errorMessage {
  color: $color-error;
  background-color: $background-color-error;
  border: $border-error;
  border-radius: 4px;
  padding: 10px 15px;
  @include font-style('Lexend Deca', 500, 18px, 26px);
  text-align: center;
  margin: 10px auto;
  max-width: 500px;
  box-shadow: 0 2px 5px #00000019;
}
