@import '@styles/mixins';
@import '@styles/variables';

.info {
  background-color: #fff;
  min-height: 80px;
  padding: 10px;
  @include flex-space-between;

  .text {
    width: calc(100% - 59px);
    text-align: start;
  }
  h4 {
    width: 80%;
    color: $color-text-grey;
    @include font-style('Lexend Deca', 500, 18px, 26px);
    @include font-ellipsis;
  }
  h6 {
    color: $color-text-orange;
    @include font-style('Lexend Deca', 400, 15px, 26px);
    @include font-ellipsis;
  }
  h5 {
    margin-top: 12px;
    color: $color-text-grey;
    @include font-style('Lexend Deca', 700, 15px, 26px);
  }
  .favorite {
    @include flex-center;
    width: 59px;
    height: 59px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    img {
      width: 50%;
      height: 50%;
    }
  }
}
