<<<<<<< HEAD
@import '@styles/mixins';
@import '@styles/variables';

.info {
  background-color: #fff;
  min-height: 80px;
  padding: 10px;
  @include flex-space-between;
=======
.info {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
>>>>>>> main

  .text {
    width: calc(100% - 59px);
    text-align: start;
  }
  h4 {
    width: 80%;
<<<<<<< HEAD
    color: $color-text-grey;
    @include font-style('Lexend Deca', 500, 18px, 26px);
    @include font-ellipsis;
  }
  h6 {
    color: $color-text-orange;
    @include font-style('Lexend Deca', 400, 15px, 26px);
    @include font-ellipsis;
  }
  h5 {
    margin-top: 12px;
    color: $color-text-grey;
    @include font-style('Lexend Deca', 700, 15px, 26px);
  }
  .favorite {
    @include flex-center;
=======
    color: rgba(57, 57, 57, 1);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  h6 {
    color: rgba(224, 164, 73, 1);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  h5 {
    margin-top: 12px;
    color: rgba(57, 57, 57, 1);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
  }
  .favorite {
    display: flex;
    align-items: center;
    justify-content: center;
>>>>>>> main
    width: 59px;
    height: 59px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    img {
      width: 50%;
      height: 50%;
    }
  }
}
