// Цветовая палитра
$color-text-grey: #393939;
$color-text-orange: #e0a449;
$color-orange: #f17900;
$background-color: #fafafa;
$color-error: #ff4d4f;
$background-color-error: #fff1f0;
$border-error: 1px solid #ffa39e;

$width-main-container: 1280px;
$width-main-container-small: 768px;

// Отступы
$spacing-small: 60px;
$spacing-medium: 120px;

// Шрифты
$font-size-main-title-small: 32px;
$font-size-main-title-medium: 48px;
$font-size-main-title-large: 64px;

$font-size-section-title-small: 16px;
$font-size-section-title-medium: 32px;
