@import '@styles/mixins';
@import '@styles/variables';

h1 {
  @include font-style('Lexend Deca', 700, 64px, 80px);
  text-transform: capitalize;
  color: $color-text-grey;
  div {
    @include flex-center;
    span {
      margin-left: 20px;
    }
  }
  span {
    color: $color-orange;
  }
  img {
    width: 64px;
  }
  @media (max-width: $width-main-container) {
    @include font-style('Lexend Deca', 500, 48px, 60px);
    img {
      width: 48px;
    }
  }

  @media (max-width: $width-main-container-small) {
    @include font-style('Lexend Deca', 500, 32px, 40px);
    span {
      margin-left: 5px;
    }
    img {
      width: 32px;
    }
  }
}
