<<<<<<< HEAD
@import '@styles/_mixins.scss';
@import '@styles/_variables.scss';

=======
>>>>>>> main
.sorting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  span {
<<<<<<< HEAD
    @include font-style('Lexend Deca', 400, 18px, 24px);
    color: $color-text-grey;
=======
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(57, 57, 57, 1);
>>>>>>> main
  }
  select {
    background: transparent;
    outline: none;
<<<<<<< HEAD
    @include font-style('Lexend Deca', 400, 16px, 24px);
    color: $color-text-grey;
    padding: 5px;
    margin-left: 5px;
  }
  @media (max-width: $width-main-container) {
=======
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(57, 57, 57, 1);
    padding: 5px;
    margin-left: 5px;
  }
  @media (max-width: 1280px) {
>>>>>>> main
    justify-content: center;
  }
}
