@import '@styles/_mixins.scss';
@import '@styles/_variables.scss';

.sorting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  span {
    @include font-style('Lexend Deca', 400, 18px, 24px);
    color: $color-text-grey;
  }
  select {
    background: transparent;
    outline: none;
    @include font-style('Lexend Deca', 400, 16px, 24px);
    color: $color-text-grey;
    padding: 5px;
    margin-left: 5px;
  }
  @media (max-width: $width-main-container) {
    justify-content: center;
  }
}
