@import '@styles/_mixins.scss';
@import '@styles/_variables.scss';

header {
  background: linear-gradient(
    90deg,
    #343333 38.05%,
    #484848 69.22%,
    #282828 98.98%
  );
  width: 100%;
  height: 127px;
  @include flex-center;
  margin-bottom: $spacing-medium;
  position: relative;
  .container {
    width: $width-main-container;
    height: 63px;
    @include flex-space-between;

    .logo {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .burgerButton {
      width: 32px;
      display: none;
      user-select: none;
    }
    .burgerMenu {
      cursor: pointer;
      @include flex-center;
      span {
        @include font-style('Inter', 400, 18px, 22px);
        color: #fff;
        margin-left: 4px;
      }
    }
  }
  @media (max-width: $width-main-container) {
    .container {
      justify-content: space-around;
    }
  }

  @media (max-width: $width-main-container-small) {
    .container {
      .burgerButton {
        display: block;
      }
      .burgerMenu {
        display: none;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 100%;
        background: linear-gradient(
          90deg,
          #343333 38.05%,
          #484848 69.22%,
          #282828 98.98%
        );
        padding: 20px;
        &.open {
          display: flex;
        }
      }
    }
  }
}
