@import "@styles/_mixins.scss";
@import "@styles/_variables.scss";

footer {
  width: 100%;
  height: 127px;
  @include flex-center;
  margin-top: $spacing-medium;
  .container {
    width: $width-main-container;
    height: 63px;
    @include flex-space-between;
    align-items: center;
  }
  @media (max-width: 1280px) {
    margin-top: $spacing-small;
    .container {
      justify-content: space-around;
    }
  }
  @media (max-width: 768px) {
    img {
      transform: scale(0.8);
    }
  }
}
