@import "@styles/_mixins.scss";
@import "@styles/_variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  @include flex-center-column;
  background: $background-color;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
